body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.big-checkbox {
    width: 30px; height: 30px;
}

.fast-content{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 10px 10px 15px 15px;
    border-bottom: 1px solid; 
    text-decoration: none;
}
.fast-media {
    display: inline-block;
    width: 240px;
    height: 180px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.fast-info{
    width: 70%;
    margin-left: 10px;
    line-height: 20px;
    font-size: 20px;;
    font-weight: bold;
    text-align: left;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fast-header{
    color: #072bba;
    font-size: 1em;
}
.fast-details
{
    margin-top: 5px;
    color: black;
    font-size: 0.75em;
}
.fast-price{
    margin-top: 30px;
    padding: 8px 8px 8px 8px;
    text-align: left;
    background-color: #ECF6FA;
}
div.title-container{
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    margin-top: 15px;
}
div.content{
    display: flex;
}
div.content-left{
    margin-top: 15px;
    width: 35%;
}
div.param{
    display: flex;
    border-bottom: 0.1px solid #f5f5f5;
    margin: 10px 10px;
}
div.param-left{
    width: 45%;
    float: left;
}
div.param-right{
    width: 45%;
    float: right;
}
div.content-right{
    width: 60%;
}
div.right-media{
    width: 600px;
    height: 450px;
}
a.fast-content:hover{
    text-decoration: none;
    color: black;
    background-color: beige;
}
.my-container {
    display: flex;
    justify-content: left;
}
.li-border-radius{
    border-radius: 2px;
}